:root {
    --primary-color: #231942;
    --secondary-color: #004aad;
    --font: "Lato", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: var(--font);
	
	
}
main{
	text-align: center;
}
h1 {
	text-align: center;
	color: var(--secondary-color);
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.3rem;
}
.directory {
    margin: 1rem;
}

h2 {
	color: var(--secondary-color);
	text-align: center;
	margin: 1rem;
	}
header {
    position: relative;
	
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}
.site-name{
	display: flex;
	margin: 1rem;
}
.site-name h2{
	margin: 1rem;
	font-size: 1.5rem;
}

.navigation {
	display: flex;
	padding: 1rem;
	list-style: none;
	background-color: var(--secondary-color);
	color: #fff;
}
.navigation a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ffff;
	background-color: var(--secondary-color);
}
.navigation a:hover, .rectangle a:hover {
	background-color: #ccc9dc;
	color: #333;
	font-weight: 700;
}
.view-buttons button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
	margin-bottom: 1rem;
}
.gold {
    color: goldenrod;
    font-weight: bold;
}

.silver {
    color: #4A4A4A; /*darker color**/
    font-weight: bold;
}

.member {
    color: #1e88e5;
    font-weight: bold;
}

.member-card img {
	padding: 1rem;
    width: 100%;
    max-width: 340px;
    height: auto;
}

#members.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:1rem;
    margin: 1rem;
}

#members.grid .member-card{
    border:1px solid #ccc;
    border-radius:10px;
    padding:1rem;
    text-align:center;
}

#members.list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 1rem;
}

#members.list .member-card {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 1fr;
    align-items: center;

    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
#members.list img{
    display: none;
}
.hero{
    position: relative;
}

.hero img{
    width:100%;
    height:auto;
    display:block;
    object-fit:cover;
}
.rectangle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:rgba(255,255,255,.85);
    padding:2rem;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}
.rectangle a{
    display:inline-block;
    margin-top:1rem;
    padding:.9rem 1.8rem;
    background:var(--secondary-color);
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}


footer {
    color:  #ffff;
    text-align: center;
	margin-top: 1rem;
	background: var(--secondary-color);
}
footer p{
	padding: 0.5rem 0.1rem 0.1rem;
}
.last-modified {
    font-size: 0.8rem;
    color: yellow;
	padding-bottom: 1rem;
}