.site-name h2{
	font-size: 1rem;
	text-align: left;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
    top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}
.active::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: #498cb0;
    margin: 4px auto 0;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #004aad;
	color: #fff;
    padding: 0;
}
.navigation a {
	display: none;
	background-color: #004aad;
	color: #ffff;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
.view-buttons button {
    font-size: 0.85rem;
}

.member-card h2 {
    font-size: 1.35rem;
}

.member-card p,
.member-card a {
    font-size: 0.85rem;
}
footer p{
	font-size: 1rem;
}
.contact{
	text-align: left;
	padding-left: 1rem;
}

.social{
	text-align: center;
	padding: 1rem;
}

.development{
	text-align: left;
	padding-left: 1rem;
}

.rectangle{
    max-height:300px;
	width: 320px;
}
.events, .spotlights, .weather{
	font-size: 0.85rem;
	margin-bottom: 1rem;
}

.area {
    padding: 1.5rem 1.5rem 2rem;
}
.container{
    display:grid;
    grid-template-columns:1fr;
    gap:2rem;
}

.membership-levels {
    margin-bottom: 2.5rem;
}
#members.grid,#members.list {
margin-bottom: 2.5rem;
}

#attractions {
    display: grid;
    gap: 1rem;
    padding: 1rem;
	margin: 1rem;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card7 {
    grid-area: card7;
}

.card8 {
    grid-area: card8;
}

.directory h1, .discover h1{
    font-size:2rem;
}
.hero-discover p{
	margin:1rem;
}