/* large view navigation **************/
@media (min-width: 37.5em) {

	main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        margin: 0;
		
    }

    main h1 {
        grid-column: 1 / -1;
        margin-bottom: 0;
        margin-top: 0;
    }
	
	main section:last-of-type {
    grid-column: 1 / -1;
	text-align: center;
    }

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
    }
}
